.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
misapuntes.md
codigo/**/results/

# Ignorar archivos ejecutables (.exe) y archivos Makefile generados por OMNeT++
codigo/**/*.exe
codigo/**/Makefile